<div class="row">
    <div class="panel panel-default form-signin">
        <div class="panel-body">
            <form class="" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="register()">
                <h3 class="form-signin-heading">Подтвердите создание пользователя</h3>
                <div class="form-group">
                    <label for="inputCode" class="sr-only">Code</label>
                    <input type="text" id="inputCode" name="inputCode" class="form-control" ng-model="user.code" placeholder="Code"
                           validate-on="blur" required required-message="'Code is required'">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="user.password" placeholder="Password"
                           validate-on="blur" required required-message="'Password is required'">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
